<!DOCTYPE html>
<html>

<head>
    <title>
        Dashbord page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashbord.css' rel='stylesheet' />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class="page page--dashboard">

        <aside class="page__aside aside vertical">
            <div class="aside__logo text">
                Sidebar
            </div>
            <nav class="vertical">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href="#" class="nav-button  click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
                <a href="#" class="nav-button  click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>

                {{!-- <div class="relative click">
                    <div class="field field--select">
                        <span class="text text--light">Choose...</span>

                        <select class="field__select relative">
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="frog">Frog</option>
                            <option value="parrot">Parrot</option>
                            <option value="horse">Horse</option>
                        </select>
                        <span class="icon header nav-button__icon"
                            style="background-image: url('/svg/select.svg')"></span>
                    </div>
                </div> --}}
            </nav>
        </aside>

        <header class="header">
            <div class="layout header__content text--middle">
                {{!-- <label class="text" for=""></label> --}}
                <div class="header__search relative">
                    <input type="text" class="field field--header text" placeholder="Search">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon--header-settings icon--color-blue icon--button click"
                        style="background-image: url('/svg/header/settings.svg')"></span>

                </div>

                <div class="analytic__content">
                    <span class="icon header__button icon--button icon--color-yellow click"
                        style="background-image: url('/svg/analytic/antenna.svg')">
                    </span>
                    <span class="icon header__button icon--button icon--color-aqua click"
                        style="background-image: url('/svg/analytic/mat-symbol.svg')">
                    </span>
                    <span class="icon header__button icon--button icon--color-yellow click"
                        style="background-image: url('/svg/analytic/bell.svg')">
                    </span>

                </div>


            </div>

        </header>

        <main class="main">
            <div class="layout">
                <section class="box analytic__block">

                    <div class="analytic analytic--double analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/money.svg')">
                        </span>
                        <div class="vertical vertical--middle">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class=" text text--middle text--light text--gray">Total earning</div>

                        </div>
                    </div>

                    <div class="analytic analytic--double analytic--purple">
                        <span class="icon analytic__button icon--button icon--color-purple click"
                            style="background-image: url('/svg/analytic/order.svg')">
                        </span>
                        <div class="relative vertical vertical--middle">
                            <div class="analytic__title text text--light">$961</div>
                            <div class=" text text--middle text--light text--gray">Total Order</div>
                            <span class="icon analytic__arrow click"
                                style="background-image: url('/svg/analytic/blue-arrow.svg')">
                            </span>
                        </div>
                    </div>

                    <div class="analytic__content analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/money.svg')">
                        </span>
                        <div class="vertical vertical--small">
                            <div class="analytic__title text text--light">$461.00</div>
                            <div class=" text text--middle text--light text--gray">Total costs</div>
                        </div>
                    </div>

                    <div class="analytic__content analytic--white">
                        <span class="icon analytic__button icon--button icon--color-yellow click"
                            style="background-image: url('/svg/analytic/income.svg')">
                        </span>
                        <div class="vertical vertical--small">
                            <div class="analytic__title text text--black">$203k</div>
                            <div class=" text text--middle text--dark">Total Income</div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="layout">
                <section class="property__block">
                    <div class="property__content analytic--white">

                        <div class="purchase__title text--black line--big">Purchase list</div>
                        <div class="divider"></div>
                        <div class="purchase__item">
                            <div class="text">
                                <div class="text--black line--medium">ID437661</div>
                                <div class="text--dark">May 11, 2023, 14:21</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">AirOn ProCam</div>
                                <div class="text--dark">7/8 USB Type-C</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">132.32 EUR</div>
                                <div class="text--warning">Not paid</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">Customer</div>
                                <div class="text--dark">robin@com.de</div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="purchase__item">
                            <div class="text">
                                <div class="text--black line--medium">ID437661</div>
                                <div class="text--dark">May 11, 2023, 14:21</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">PHILIPS Essential</div>
                                <div class="text--dark">HD9200/90</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">543 USD</div>
                                <div class="text--success">Pay by Stripe</div>
                            </div>
                            <div class="text">
                                <div class="text--black line--medium">Customer</div>
                                <div class="text--dark">dima@com.ua</div>
                            </div>
                        </div>

                    </div>

                    <div class="payment__content analytic--white">
                        <div class="purchase__title text--black line--big">Payment</div>
                        <div class="divider"></div>

                        <div class="form__checkbox">
                            <div class="click">
                                <input type="radio" name="pay" id="">
                                <label for="">credit card</label>
                            </div>
                            <div class="click">
                                <input type="radio" name="pay" id="">
                                <label for="">debit card</label>
                            </div>
                            <div class="click">
                                <input type="radio" name="pay" id="">
                                <label for="">PayPal</label>
                            </div>
                        </div>

                        <div class="payment__form">
                            <div class="field__block">Name on card
                                <input type="text" class="field field--header text" placeholder="none">
                            </div>
                            <div class="field__block">Credit card number
                                <input type="text" class="field field--header text" placeholder="none">
                            </div>
                            <div class="field__block">Expiration
                                <input type="text" class="field field--header text" placeholder="none">
                            </div>
                            <div class="field__block">CVV
                                <input type="text" class="field field--header text" placeholder="none">
                            </div>
                        </div>
                        <div class="divider"></div>

                        <div class="choose__form">
                            <div class="relative click">
                                <label class="text line--medium" for="">Country</label>
                                <div class="field field--select">
                                    <span class="text text--dark">Choose...</span>
                                    <select class="field__select relative">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="frog">Frog</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="horse">Horse</option>
                                    </select>
                                    <span class="icon header nav-button__icon"
                                        style="background-image: url('/svg/select.svg')"></span>
                                </div>
                            </div>
                            <div class="relative click">
                                <label class="text line--medium" for="">State</label>
                                <div class="field field--select">
                                    <span class="text text--dark">Choose...</span>
                                    <select class="field__select relative">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="frog">Frog</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="horse">Horse</option>
                                    </select>
                                    <span class="icon header nav-button__icon"
                                        style="background-image: url('/svg/select.svg')"></span>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <a href="#" class="pay-button pay-button--active click">
                            <span class="text text--light">Continue to checkout</span>
                        </a>
                    </div>
                </section>
            </div>
        </main>
    </div>

</body>


</html>