<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello world!
        </p>
        <p id="test">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quisquam nostrum omnis provident
            incidunt porro voluptates quasi quo. Placeat, nobis. A dignissimos, quos recusandae fugiat non quibusdam
            nobis doloremque adipisci.
        </p>

        <span>Test:</span>

        <pre>
                                                                         text
        </pre>
    </div>

    <div>Block</div>
    <div>Block</div>

    <div style="padding: 50px 0 50px 100px; background: gray;">
        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Inline-block inline-block inline-block </span>
    </div>

    <div>Block</div>
</main>