{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img class="small-img" src="https://picsum.photos/200/300" height="100px" alt="image small card 100px">
    <hr>
    <a href="#" rel='external'>Link</a>
    <hr>
    <button class="btn big">Click me</button>
    <br>
    <a href="#" class="btn btn-success">Click me</a>
    <br>
    <button class=" before-after btn">Click me</button>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text"> USB хаб vType C 12в 1 HDMI VGA AUX 3.5 mm <br>efonnvovjvnjfn kvnowvn trptuca</p>

</div>

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" placeholder="This is text" required>
</div>
<hr>
{{!-- це початкові уроки --}}
<section class="p-5 box">
    <h1>USB хаб vType C 12в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type 2в 1/<h2>
            <button type="button" class="button" id="button">Купити</button>
            <p class="user">Summary text - Link</p>
</section>

<section class="p-5 box">
    <h1>USB хаб vType C 12в 1 HDMI VGA AUX 3.5 mm</h1>
    <strong>Test</strong>
    <p class="usersl">Link!</p>
</section>
<div>
    <div>
        <em class="child">Test EM</em>
    </div>
</div>
<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
</div>
<p>Hello</p>

<div>
    <span class="item">Test test</span>
</div>
<div class="card p-5 m-5 card-dark">
    <p class="item">first</p>
    <p></p>
    <div class="item">3</div>
    <p>not</p>
    <article class="item">last</article>
</div>

{{!-
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}