/* .card {
  border: none;
} */
.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}
p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 1px rgba(255, 0, 208, 0.952);

  direction: rtl;
}
/* #test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

   writing-mode: vertical-lr;

} */
/*або значення за замовчуванням: initial;*/

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: justify;

  letter-spacing: 4px;
}
span {
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline dotted red;

  font-size: larger;
  font-weight: 600;
}
span:hover {
  text-decoration-line: line-through;
  text-decoration-color: blueviolet;
  text-decoration-style: wavy;
}

.pre {
  tab-size: 8px;
}
p {
  font-style: oblique;
  font-stretch: semi-expanded;
}
* {
  font-family: 'Roboto', 'Montserrat', Arial, Helvetica,
    sans-serif;
  font-size: 16px;

  font-display: swap;
}
.block {
  display: inline-block;
  background: rgb(200, 194, 194);
  margin: auto;

  width: 100%;
  max-width: 600px;

  /* min-height: 100px;
  max-height: max-content; */
  padding: 15px;
}
/* box-sizing: content-box; */
