@layer normalize, main, component, style;

:root {
  scroll-behavior: smooth;

  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-x: 24px;
  --space-xl: 36px;
  --space-xxl: 80px;

  --size-s: 14px;
  --size-m: 16px;
  --size-l: 20px;
  --size-x: 24px;
  --size-xl: 32px;

  --border-radius: 12px;

  --weight-4: 400;
  --weight-5: 500;

  --page-width: 960px;

  --color-border: #dee2e6;
  --color-primary: #563d7c;
  --color-white: #ffffff;
  --color-text: #5a5a5a;
  --color-blue: #0d6efd;
}
/*============================ /* h1, h2, p { margin: 0;} */
.page {
  background: var(--color-white);
  font-family: 'Roboto';
  padding: 0 var(--space-l);
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  padding-top: 74px;
}
/*============================*/
.header {
  padding: var(--space-x) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  position: fixed;
  width: var(--page-width);
  top: 0;
  /*left: calc(50% - (var(--page-width) / 2)); */
  z-index: 1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-m);
  color: var(--color-white);
  background: var(--color-primary);
  width: var(--size-x);
  height: var(--size-x);
  border-radius: calc(var(--border-radius) / 2);
}
.nav {
  display: flex;
}
.nav_inline {
  gap: var(--space-x);
}
.nav_vertical {
  gap: var(--space-l);
  flex-direction: column;
}
.nav_link {
  color: #343a40;
  font-size: var(--size-m);
  text-decoration: none;
  line-height: 100%;
}
.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}
.footer {
  padding: var(--space-x) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}
.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-x);
}
.footer_title {
  font-size: var(--size-l);
  font-weight: var(--weight-5);
  line-height: 23px;
  color: #212529;
  display: block;
  margin-bottom: var(--space-x);
}
/*================*/
.hero_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}
/* position: absolute;
  left: calc(100%-50px); */

/* left: 100px; */
/* top: -100px; */
/* bottom: 100px;*/

.hero {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  padding: var(--space-xl);
  border-bottom: 1px solid var(--color-border);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-x);
}
.hero_title {
  font-size: 50px;
  font-weight: var(--weight-5);
  line-height: 120%;
  color: var(--color-text);
}
.hero_text {
  font-weight: var(--weight-4);
  line-height: 170%;
  font-size: var(--size-l);
  color: var(--color-text);
}
.blog {
  display: flex;
  gap: var(--space-xl);
  padding: var(--space-xl);
  border-bottom: 1px solid var(--color-border);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--size-l);
}
.card_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.card_title {
  font-weight: var(--weight-5);
  font-size: var(--size-xl);
  line-height: 100%;
  color: var(--color-text);
}
.card_text {
  font-weight: var(--weight-4);
  line-height: 150%;
  font-size: var(--size-m);
  color: var(--color-text);
}
.button {
  display: inline-block;
  padding: var(--space-m) var(--space-l);
  font-size: var(--size-m);
  font-weight: var(--weight-4);
  text-decoration: none;
  border-radius: var(--border-radius);

  transition: opacity 1s, background-color 1s;
}
.card_button {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.button:hover {
  opacity: 0.7;
  background-color: yellow;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  padding: var(--space-x);
  border-radius: var(--border-radius);
}
.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}
.form_title {
  font-size: 27px;
  font-weight: var(--weight-4);
  color: var(--color-white);
}
.form_info {
  font-size: var(--size-m);
  font-weight: var(--weight-4);
  color: var(--color-white);
}
.form_button {
  background: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
}

/*==delaem slider! position:***  15:43 */
.hero_slider {
  position: relative;
}
.hero_slider_icon {
  background: var(--color-blue);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--color-white);
  position: absolute;
  top: calc(50% - 15px);
}
.hero_slider_icon:hover {
  opacity: 0.5;
  cursor: pointer;
  /* transition обов'язково для hover!!*/
  transition: color 120ms;
}
.hero_slider_left {
  left: var(--space-x);
}
.hero_slider_right {
  right: var(--space-x);
}

.hero {
  user-select: none;
}
/* .modal {
  position: fixed;
  top: 24px;
  right: 24px;
  left: calc(50% - 300px);
  width: 500px;
  height: 100px; приберемо для фото
  background: var(--color-blue);
  color: var(--color-white);
  padding: 24px;
  border-radius: var(--border-radius);
  line-height: 150%;
  z-index: 2; */

/* position-property: top;
  transition-duration: 3s; */

/* body:hover .modal {
  top: 500px;
} */
/* .modal_image {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 12px;
} */
.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media all and (max-width: 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media all and (min-width: 0px) and (max-width: 600px) {
  .blog {
    grid-template-columns: 1fr;
  } 
} */
@media all and (width <= 600px) {
  .blog {
    grid-template-columns: 1fr;
  }
}

@media all and (600px < width <= 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media all and (not(min-width: 800px)) {
  .page_content {
    background: #0d6efd;
  }
} */

/* @media all and (min-height: 600px) {
  .page_content {
    background: #0d6efd;
  }
} */
.form {
  gap: var(--space-l);
}
@media all and (width <= 560px) {
  .form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.form_info {
  max-width: 300px;
  width: 100%;
  line-height: 150%;
}
.form_content {
  align-items: center;
  text-align: center;
}

/* .hero_container {
  container-type: inline-size;
  container-name: hero;
}

@container hero (width < 960px) {
  .hero {
    flex-direction: column;
  }
} */
@layer style {
  .card_button {
    background: red;
  }
}
@layer main {
  .card_button {
    background: yellow;
  }
}
