:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-x: 24px;
  --space-xl: 36px;
  --space-xxl: 40px;

  --size-s: 14px;
  --size-m: 16px;
  --size-l: 20px;
  --size-x: 24px;
  --size-xl: 32px;
  --size-xxl: 36px;

  --border-radius-d: 12px;
  --border-radius-s: 4px;

  --width-d: 100%;

  --color-primary: #885ffb;
  --color-white: #ffffff;
  --color-dark: #111827;
  --color-border: #dee2e6;
  --color-background: #f8f9fa;
  --color-hero-text: #9ca3af;
  --color-text: #5a5a5a;
  --color-title: #212529;
  --color-input: #767676;
  --color-form-text: #6c757d;
}
/*============================ */
.page {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  padding: 0;
  background: var(--color-dark);
}
.page_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1150px;
  width: var(--width-d);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-s);
  color: var(--color-white);
  font-weight: 700;
  background: var(--color-primary);
  width: 56px;
  height: 30px;
  border-radius: 10px;
}
/*============================*/
.header_dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  border-bottom: 1px solid #253041;
  background-color: var(--color-dark);
}
.header_ad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--space-m);
}
.header_text {
  font-size: 14px;
  color: var(--color-white);
  padding-left: 4px;
}
.users_online {
  font-size: var(--size-s);
  color: var(--color-white);
}
.header_link {
  text-decoration: none;
  font-weight: 700;
  font-size: var(--size-m);
  color: var(--color-primary);
  transition-duration: 2s;
}
.header_link:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}
.nav_link {
  color: var(--color-white);
  font-size: var(--size-m);
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
  transition-property: color;
  transition-duration: 1s;
}
.nav {
  display: flex;
}
.nav_inline {
  gap: var(--space-l);
}
.nav_vertical {
  gap: var(--space-l);
  /* flex-direction: column; */
}
.footer_dark {
  border-top: 1px solid #253041;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 36px;
}
.footer_link {
  text-decoration: none;
  font-size: var(--size-m);
}
.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-hero-text);
}
/*=========body!=================== */
.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-xl);
  gap: 20px;
  max-height: 300px;
  border-radius: calc(var(--border-radius-d) * 2);
  background: radial-gradient(
    100% 625% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}
.hero_title {
  font-weight: 700;
  font-size: var(--size-xxl);
  color: var(--color-white);
  padding-top: var(--space-xxl);
  text-align: center;
}
.hero_text {
  font-family: 'Inter';
  font-size: var(--size-m);
  line-height: 150%;
  color: var(--color-hero-text);
  max-width: 600px;
}
.hero_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--space-m) var(--space-l);
  width: 150px;
  height: 40px;
  background: var(--color-primary);
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--size-m);
  margin-bottom: var(--space-xxl);
  transition: opacity 1s;
}
.hero_button:hover {
  opacity: 0.5;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: calc(var(--border-radius-d) * 2);
  padding: var(--space-xl);
}
.about > strong {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-white);
}
.about > p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: var(--color-hero-text);
}
.our_articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.our_articles > em {
  font-weight: 700;
  font-size: var(--size-xl);
  color: var(--color-white);
  padding: 4px 0;
}
.our_articles > button {
  color: var(--color-white);
  padding: 8px 16px;
  width: 100px;
  height: 40px;
  border: 1px solid #9ca3af;
  border-radius: 10px;
  cursor: wait;
}
.articles {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.card_badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-s);
  font-size: var(--size-m);
  color: var(--color-white);
  background: rgba(251, 95, 95, 0.5);
  border-radius: 8px;
  position: absolute;
  left: 55%;
}
.articles_card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  max-height: 380px;
}
.art_item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.art_image {
  height: 200px;
  max-width: 362px;
  border-radius: 24px;
}
.art_title {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  padding-top: 12px;
}
.art_text {
  line-height: 150%;
  font-size: var(--size-s);
  overflow: hidden;
  color: var(--color-hero-text);
  height: 100px;
  padding-bottom: 4px;
}
.art_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--size-s);
  background: var(--color-primary);
  border-radius: 10px;
  width: 85px;
  height: 30px;
  transition: opacity 1s;
}
.art_button:hover {
  opacity: 0.5;
}
