{{#with data}}
<div>
    <img src={{photo}} alt="Art Image" class="art_image">
    <h2 class="art_title">{{name}}</h2>
    <p class="art_text">{{description}}</p>
    <button href="#" class="art_button">Read All</button>
</div>
{{/with}}